.form-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 25px 15px;
  background: #ffffff;
  border-radius: var(--border-radius);
}

.col-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.col-wrap > *{
  width: 48%;
}

input::placeholder {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-weight: 500;
  color: var(--gray-dark-color);
  opacity: 1;   
  letter-spacing: 2px;
}

input {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-weight: 400;
  border: 2px solid var(--black-light-color);
  border-radius: var(--border-radius);
  outline: none;
  color: var(--black-light-color);
  background-color: var(--white-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  -webkit-appearance: none;
  transition: all ease-in-out .3s;
}


input:focus,
textarea:focus,
input:focus:hover {
  outline: 0;
}

input:disabled,
textarea:disabled {
  cursor: no-drop;
  background: var(--gray-mid-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
  -webkit-box-shadow: 0 8px 16px rgb(78 95 124 / 16%) inset;
}

textarea {
  height: 100px;
  padding: 10px;
  line-height: initial;
  resize: vertical;
}

input[type="file"] {
  display: none;
}

button {
  display: block;
  padding: 12px 25px;  
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);    
  font-weight: normal;  
  text-align: center;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: var(--border-radius);
  transition: background 0.3s ease-in-out;
  cursor: pointer;      
}

button:hover,
button.selected {
  background-color: var(--blue-dark-color);
  color: var(--white-color);
}

button,
button:focus,
button:focus:hover {
  outline: 0;
  border: none;
  text-decoration: none;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--gray-light-color)
}

label {
  position: relative;
  font-weight: bold;
}

#result {
  color: white;
  font-weight: bold;
  border: 0;
  background: var(--orange-color);
  box-shadow: 0 0 0 2px transparent, 0 0 0 2px var(--orange-color) inset;
  outline: none;
  transition: background-color 0.3s ease-in-out;   
}

label.result-active::after {    
  content: '';
  display: block;
  position: absolute;
  left: 35%;
  top: 15%;
  background: var(--orange-color);
  animation: click-wave 1.5s;
  z-index: 100;
}

label.office-active::after {    
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 15%;
  background: var(--green-color);
  animation: click-wave-2 1.5s;
  z-index: 100;
}

#officeDay {
  border: 0;
  background: var(--green-color);
  color: white;
  font-weight: bold;
}

@keyframes click-wave {
  0% {
    height: 60px;
    width: 300px;
    opacity: 1;
    position: absolute;
  }
  100% {
    height: 180px;
    width: 900px;
    margin-left: -190px;
    margin-top: -180px;
    opacity: 0;
  }
}

@keyframes click-wave-2 {
  0% {
    height: 60px;
    width: 300px;
    opacity: 1;
    position: absolute;
  }
  100% {
    height: 180px;
    width: 900px;
    margin-left: -190px;
    margin-top: 180px;
    opacity: 0;
  }
}