body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  color: var(--black-light-color);
  font-weight: 400;
  overflow-x: hidden;
}

#page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 25px;
  background: url(../assets/bg.jpg) center center / cover no-repeat fixed;
}

span.error {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #cc0002;
}

span.error.active {
  display: block;
  color: #cc0002;
}