:root {
  --white-color: #ffffff;
  --black-color: #000000;  
  --black-light-color: #403f46;
  --gray-dark-color: #85848c;
  --orange-color: #e89a4e;
  --blue-color: #567bec;
  --blue-dark-color: #2857e7;  

  --base-font-size: 16px;
  --base-line-height: 20px;
  --base-font-family: 'Roboto', sans-serif;

  --border-radius: 8px;
} 